.btn-google {
    background-color: #fff;
    color: #757575;
    border: 1px solid #ddd;
    
    &:hover {
        background-color: #f8f9fa;
        color: #757575;
        border-color: #ddd;
    }
} 